/* ORDER */
.matcha40,
.matcha80,
.matcha160 {
    display: none;
}

body {
    width: 100%;
    margin: 0 auto;
}

.order-header {
    border-bottom: none;
}

.order-header img {
    width: 20%;
    margin: 0 auto;
    display: block;
}

.order-header h1 {
    font-size: 22px;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right-div {
    background-color: rgb(233, 233, 235);
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}

.right {
    width: 60%;
    position: sticky;
    top: 0;
    padding-top: 25px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    margin: 25px 0;

}

form {
    width: 64%;

}

.green-line {
    background-color: #36411e;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    font-weight: 900;
}

form h3 {
    font-weight: 600;
    letter-spacing: 1px;
}


form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 7px;
    margin-bottom: 30px;
}

input:focus {
    box-shadow: 0 0 0 1px #1773b0;
    border: 1px solid #1773b0;
    outline: #1773b0;
}


.names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

form h2 {
    color: #005280;
}


form button {
    text-transform: uppercase;
    background-color: #36411e;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    margin-top: 30px;
    align-items: center;
}


input::placeholder {
    letter-spacing: 0.8px;
}

.rights {
    margin-top: 20px;
    border-top: 1px solid #cccccc;
    padding: 10px 0;
    color: #787878;
    font-style: italic;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.cart img {
    width: 120px;
    background-blend-mode: multiply;
}

.cart {
    margin-bottom: 5px;
}

.cart p b {
    font-size: 18px;
}

.container {
    width: 70%;
    margin: auto;
}

select {
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}

.bottom-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.green-line-div p span {
    font-size: 20px;
}

.green-line-div img {
    width: 20%;
}

/* footer */

footer {
    padding: 40px 0;
    background-color: #242424;
}

.footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: row;
}

footer div.links {
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-links,
.links {
    align-items: center;
}

.additional-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

footer h3 {
    color: #fff;
    margin-bottom: 12px;
}

footer a,
footer p {
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

footer p.disclaimer {
    width: 95%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}

@media screen and (max-width: 1025px) {
    .left {
        align-items: center;
    }

    .order-header img {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {

    .content,
    .left,
    .names {
        display: block;
    }

    .left {
        padding: 0;
        margin: 0;
    }

    form {
        margin: 0 auto;
        text-align: center;
    }

    form input {
        padding: 15px 40px;
    }

    form button {
        margin: 40px auto;
    }

    .right {
        width: 95%;
    }
}

@media screen and (max-width: 430px) {

    .bottom-line,
    .footer-div {
        display: block;
    }

    .green-line-div {
        text-align: center;
        justify-content: center;
    }

    .order-header img {
        width: 70%;
    }

    .green-line-div img {
        width: 10%;
    }

    .green-line {
        gap: 15px;
        font-size: 12px;
    }


    footer div.links,
    .additional-links {
        align-items: center;
    }

    footer a {
        margin: 2px;
    }
}